@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("avenger.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    transition: .3s;
    scroll-behavior: smooth;
}

.menu-bar {
    display: flex;
    justify-content: center;
    background-color: transparent ;
    margin: 0 0 5.5rem 0;
    padding: 1rem;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 1;
    z-index: 999;
    backdrop-filter: blur(3px);
    color: ;
    box-shadow: 0px 0px 12px 5px;
    background-color: rgba(100, 148, 237, 0.749);
    border-radius: none ;
    padding: 1rem;
    width: 100%;
    min-width: 15.625rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    color: white;
    text-decoration: none;
}

.svg {
    margin: 1rem 0 0 1rem;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 50%;

}

.sideBar {
    position: fixed;
    top: 1;
    right: 1;
    z-index: 500;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -1.1rem;
    margin-left: 8.5rem;
    justify-self: center;
    box-shadow: 0px 0px 12px 5px cornflowerblue;
    background-color: rgba(100, 148, 237, 0.603);
    width: 85%;
    height: 100vh;

}

.sideBar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: ; */
}

.side a {
    width: 100%;
    font-weight: bold;
    font-size: large;
    border: 1px solid black;
}

.side a:hover {
    background-color: aqua;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent ;
    justify-content: center;
    padding: 1rem 0.9rem;
    gap: 1rem;
    width: 100%;
    margin: auto;
}

.container-v2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 12px 5px;
    background-color: rgba(100, 148, 237, 0.603);
    border-radius: 0.5rem;
    margin: auto 0 0 0;
    width: 100%;
    max-width: 50rem;
    min-width: 15.625rem;
    padding: 1rem;
    gap: 1rem;
    animation: moveUp 1s ease-in-out;
}

.Bio-container {
    flex: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0;
    animation: fade 1.2s ease-in-out forwards;
    animation-delay: .5s;
    /* animation-delay: .5s; */
}

.Bio-container h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0 0 1rem 0;
    color: white;
    text-align: center;
}

.Bio-container h4 {
    color: white;
    text-align: center;
}


.Powerstats-container {
    flex: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0;
    animation: fade 1.2s ease-in-out forwards;
    animation-delay: .5s;
    /* animation-delay: .5s; */
}

.Powerstats-container h1 {
    margin: 0 0 1rem 0;
    color: aliceblue;
    text-align: center;
}

.Powerstats-container h4 {
    color: aliceblue;
    text-align: center;
}

.slide1 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;

    margin: 0 0 0.8rem 0;
}

.slide-fill1 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
    width: 80%;
    min-width: none;
}

.slide2 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;
    margin: 0 0 0.8rem 0;
}

.slide-fill2 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
}

.slide3 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;
    margin: 0 0 0.8rem 0;
}

.slide-fill3 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
    width: 93%;
}

.slide4 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;
    margin: 0 0 0.8rem 0;
}

.slide-fill4 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
}

.slide5 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;
    margin: 0 0 0.8rem 0;
}

.slide-fill5 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
}

.slide6 {
    flex-wrap: wrap;
    background-color: orange;
    box-shadow: 1px 1px 1px 1px rgb(0, 140, 255);
    border: 0.9px solid yellow;
    border-radius: 0.5rem;
    height: 1.1vh;
}

.slide-fill6 {
    flex-wrap: wrap;
    background-color: rgb(24, 221, 239);
    border-radius: 0.5rem;
    height: 1vh;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 0;
    background-color: transparent;
    padding: 1rem;
}

.about {
    box-shadow: 0px 0px 12px 5px;
    background-color: rgba(100, 148, 237, 0.603);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 50rem;
    padding: 1rem;
    animation: moveUp 1s ease-in-out;
}

.about h1 {
    margin: 0 0 1rem 0;
    color: aliceblue;
    text-align: center;
    opacity: 0;
    animation: fade 1.5s ease-in-out forwards;
    animation-delay: .5s;
}

.about p {
    color: aliceblue;
    text-align: center;
    opacity: 0;
    animation: fade 1.5s ease-in-out forwards;
    animation-delay: .5s;
}

img {
    width: 100%;
    max-width: 15rem;
    height: 50vh;
    max-height: 15rem;
    aspect-ratio: none;
    box-shadow: 0 0 12px 5px blue;
    border-radius: 0.5rem;
    margin: 0 1rem 2rem 0;
}

.image-container {
    display: block;
    width: 100%;
    flex: 1 0 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    background-image: url("avenger.jpeg");
    background-size: cover;
    background-position: center;
    margin: -5rem 0 0 0;
    border: none;
}

.image {
    display: flex;
    border: 2px solid red;
    justify-content: center;
    justify-self: center;
    backdrop-filter: blur(5px);
    background-color: rgba(127, 255, 212, 0.406);
    width: 85%;
    overflow: hidden;
    max-width: 35rem;
    padding: 1.5rem 0 0 0;
    gap: 1rem;
    box-shadow: 0 0 12px 5px;
    border-radius: 0.5rem;
    margin: 8rem 0 8rem 0;
    animation: fade 3s ease-in-out;
    
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    padding: 1rem;
    gap: 2rem;
    animation: moveLeft 7s linear infinite;
    animation-direction: alternate;
}

.image img:hover{
    transform: translateX(-100px);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0.9rem;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    box-shadow: 0px 0px 12px 5px #333;
    background-color: rgba(100, 148, 237, 0.603);
    border-radius: 0.5rem;
    margin: 0 0 0 0;
    width: 90%;
    max-width: 25rem;
    padding: 1rem;
    animation: fade 1.5s ease-in-out;
}

.form h1 {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 1rem 0;
}

input {
    flex: auto;
    margin: 0 0 1rem 0;
    border: none;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(100, 148, 237, 0.406);
    width: 100%;
    height: 6.4vh;
    min-height: 3.5vh;
    outline-color: none;
    padding: 1rem;
}

input::placeholder {
    text-align: center;
    font-weight: bold;
    color: white;
}

textarea {
    padding: 1rem 1rem;
    width: 100%;
    height: 20vh;
    color: white;
    background-color: rgba(100, 148, 237, 0.406);
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
}

textarea::placeholder {
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: white;
}

button {
    padding: 0.9rem 1rem;
    box-shadow: 0px 0px 12px 5px #333;
    background-color: rgba(100, 148, 237, 0.792);
    border-radius: 0.5rem;
    width: 100%;
    color: white;
    font-weight: bold;
}



footer {
    position: fixed;
    bottom: 0;
    left: 1;
    z-index: 498;
    display: flex;
    justify-content: center;
    justify-self: center;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 12px 5px;
    background-color: rgba(100, 148, 237, 0.749);
    padding: 1rem;
    width: 100%;
    min-width: 15.625rem;
}


footer h4 {
    color: white;
    text-align: center;
}

@media(min-width:507px) {
    .hideontablet {
        display: none;
    }
}

@media(max-width:506px) {
    .hideontablet {
        display: flex;
    }

    .hideonmobile {
        display: none;
    }
}

@media(max-width:400px) {
    .image-container {
        border-radius: none;
    }
    .image {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin: 10rem 0 0 0;
    }
    .hideontablet {
        display: flex;
    }

    .hideonmobile {
        display: none;
    }

    .sideBar {
        position: fixed;
        top: 1;
        right: 1;
        z-index: 500;
        color: cornflowerblue;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        margin: -1.1rem 1rem 0 .8rem;
        justify-self: center;
        box-shadow: 0px 0px 12px 5px cornflowerblue;
        background-color: rgba(100, 148, 237, 0.603);
        width: 100%;
        height: 100vh;

    }
}

@keyframes moveLeft {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(-530px);
    }
}
@keyframes moveRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}